# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Distribution
build/
dist/
.eggs/
*.egg-info/

# Logs
*.log
